div.education-section h2 {
    margin: 0px 0px 10px;
}

div.education-section h3 {
    font-weight: normal;
}

div.education-section h3 div.degree-field-grad-date {
    color: #31849B;
}
div.education-section h3 div.degree-field-grad-date p {
    margin: 0;
}

div.education-section h3 div.degree-field-grad-date p.degree-field,
div.education-section h3 div.degree-field-grad-date p.grad-date {
    float: left;
    width: 50%;
}

div.education-section h3 div.degree-field-grad-date p.grad-date {
    text-align: right;
}