header {
    background-color: #2F3947;
    color: #C6D9F1;
    position: relative;
}

header div.style-box {
    width: 90px;
    height: 10px;
    background-color: #C6D9F1;
    margin: auto;
}

header form {
    position: relative;
}

header form div.name-title-section {
    padding: 25px 0px;
}

header form div.name-title-section h1.name,
header form div.name-title-section h2.title {
    margin: 0;
    text-align: center;
}

header form input#nameInput {
    display: block;
    width: 200px;
    height: 37px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

header form input#titleInput {
    display: block;
    width: 200px;
    height: 28px;
    text-align: center;
    margin: auto;
}

header form input#phoneInput {
    width: 100px;
    height: 18px;
    text-align: center;
}

header form input#emailInput {
    width: 150px;
    height: 18px;
    text-align: center;
}

header form div.name-title-section h1.name {
    margin-bottom: 10px;
}

header form div.name-title-section h2.title {
    margin-top: 10px;
}

header form div.info-section {
    background-color: #F2F2F2;
    color: black;
}

header form div.info-section ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.svg-inline--fa {
    color: #4BACC6;
    height: 17px;
}

.fa-github,
.fa-linkedin {
    height: 19px;
}

header form div.info-section ul li {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    gap: 5px;
}

header form div.info-section ul li button {
    color: red;
    margin-left: 3px;
}

header form div.info-section ul button#addLinkBtn {
    height: 21.48px;
}

header form div.info-section ul div.add-link-container {
    display: flex;
    gap: 5px;
}

header form div.info-section ul div.add-link-container button.del-link-btn {
    color: red;
}

header form button.header-submit-btn {
    position: absolute;
    right: 5px;
    top: -5px;
}

header button.header-edit-btn {
    position: absolute;
    right: 5px;
    top: 5px;
}